{% extends "base.html"%}

{% block title%}
    <title> Update User Story </title>
{% endblock title %}

{% block content %}
    <form action="{{ url_for('index') }}" method="POST">
        <label for="title" ><strong>Story Title:</strong></label> <br>
        <input name="Story Title" type="text" minlength="5" value="{{ user_data['Story Title'] }}"><br>
        <input type="hidden" name="Id" value="{{ user_data['Id'] }}"><br>
        <br>
        <label for="story"> <strong>User Story:</strong></label><br>
        <textarea name="User Story" cols="20" rows="12">{{ user_data['User Story'] }}</textarea><br>
        <br>
        <label for="acceptance"> <strong>Acceptance Criteria:</strong></label><br>
        <textarea name="Acceptance Criteria" cols="20" rows="15" >{{ user_data['Acceptance Criteria'] }}</textarea><br>
        <br>
        <label for="business"> Business Value:</label><br>
        <input name="Business Value" type="number" max="1500" min="100" value="{{ user_data['Business Value'] }}"><br>
        <br>
        <label for="estimation">Estimation:</label><br>
        <input name="Estimation" type="number" max="40" min="0.5" value="{{ user_data['Estimation'] }}"><br>
        <br>
        <label for="status">Status:</label><br>
        <select name="Status">
            {% for option in options %} 
            <option value="{{ option }}" {{ 'selected' if option == user_data['Status']}}>{{ option }}</option>
            {% endfor %}
        </select><br>
        <br>
        <input type="submit" value="Update User Story">
    </form>
{% endblock content %}
